---

---


<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="favicon.svg">
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48" href="favicon.svg">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon.png">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">

  <link rel="stylesheet" href="/css/index.css">
  <title>Marwin Härttrich</title>
</head>
<body>
  
  <slot />

  <script is:inline src="/js/dynamics.js"></script>
  <script is:inline src="/js/tinycolor.js"></script>
  <script is:inline src="/js/mv.js"></script>
</body>

